* {
  padding: 0;
  margin: 0;
  font-family: monospace;
}
body {
  background: #e5e5e5;
  padding: 50px 0;
}
#app {
  position: relative;
  background: #c4c4c4;
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px 50px 20px;
}
header {
  background: #eaeaea;
  text-align: center;
}
.address {
  border-bottom: 1.5px solid lightgray;
}
.address:last-of-type {
  border: 0;
}
.innerContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
  padding: 10px;
}
#output-container {
  background: #eaeaea;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.btn-bottom-screen {
  position: absolute;
  right: 20px;
  bottom: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
}

i#star,
i#menu {
  cursor: pointer;
}
.darken:before {
  background: black;
  content: "";
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.clicked-container {
  position: absolute;
  align-self: center;
  justify-self: center;
  background: #c4c4c4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  top: 20%;
  z-index: 3;
  gap: 5px;
  align-items: flex-end;
}
.inputContainer {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 20px;
  line-height: 25px;
}
#saveBtn {
  width: 40%;
  font-weight: 800;
  justify-self: right;
  align-items: right;
  border-radius: 5px;
  border: none;
  line-height: 25px;
}
.icons {
  display: flex;
  gap: 8px;
}
i.fa-star.fa-solid {
  color: darkgoldenrod;
}
.not-given {
  opacity: 0.3;
}
input {
  text-indent: 5px;
  border-radius: 5px;
  border: none;
}
.menu-drop-down {
  z-index: 3;
  position: absolute;
  right: 0;
  bottom: -110%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #c4c4c4;
}
.menu-drop-down > button {
  text-align: left;
  background: #c4c4c4;
  border: none;
  line-height: 15px;
  cursor: pointer;
  font-weight: 700;
}
button:hover {
  opacity: 0.5;
}
.arrow-up {
  position: absolute;
  right: 8px;
  top: -5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid #c4c4c4;
}
.fa-circle-check {
  color: green;
}
.edit-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
}
.edit-container > input {
  line-height: 25px;
  background: #c4c4c4;
}
#saveEdit {
  background: #c4c4c4;
  width: 50%;
  justify-self: right;
  grid-column: 2/3;
  font-weight: 800;
  border-radius: 5px;
  border: none;
  line-height: 25px;
}
#Remove {
  right: 60px;
  display: none;
}
a {
  line-height: 25px;
  background: #c4c4c4;
  border-radius: 5px;
  text-indent: 8px;
  text-decoration: none;
}
