body {
  margin: 0;
  padding: 0;
  background: darkolivegreen;
  font-family: monospace;
}
#form-container {
  background: lightsteelblue;
  width: 50vw;
  margin: 15px auto;
  padding: 15px;
  border: 1px solid black;
}
#search-container {
  background: lightsteelblue;
  width: 50vw;
  margin: 15px auto;
  padding: 15px;
  border: 1px solid black;
  text-align: right;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}
form {
  text-align: right;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}
label {
  font-size: 18px;
}
input {
  font-size: 16px;
  line-height: 18px;
}
input[type="checkbox"] {
  justify-self: start;
  width: 18px;
  height: 18px;
}
.btn {
  font-size: 18px;
}

/* #output {
  background: rgba(100, 148, 237, 0.445);
} */
#output-container > * {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin: 10px;
}
.detail-header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin: 10px;
}
.detail-header > * {
  background: cornsilk;
  font-size: 24px;
  text-align: center;
  border: 1px solid black;
}
.address > * {
  font-size: 20px;
  text-align: center;
  background: rgba(255, 248, 220, 0.425);
}
.address > button {
  outline: none;
  border: none;
}
.search-options {
  grid-column: 1/3;
  display: flex;
  flex: 1;
  justify-content: space-around;
}
.selectedHandlers {
  width: 100%;
  text-align: center;
  font-size: 24px;
}
button {
  cursor: pointer;
}
.sort-container {
  display: flex;
  gap: 5px;
}
